




.hrmRadioButtonGroup{
    display:flex;
  }
  
  .hrmRadioButtonGroup .hrmRadioButton{
    display:inline-flex;
    display: -webkit-inline-flex;
    display: inline-flex;
    padding: 7px 20px;  
    color: var(--color-base--hover);
    height: 25px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color ease .28s,border-radius ease .28s;
  }
  
  .hrmRadioButtonGroup .hrmRadioButton._active{
    border-radius: 0px;
    border-radius: 0px;
    background-color: var(--calendar--back--color--);    
  }

  .hrmRadioButtonGroup .hrmRadioButton._active:first-child{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: var(--calendar--back--color--);
    
  }
  
  .hrmRadioButtonGroup .hrmRadioButton._active:last-child{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: var(--calendar--back--color--);
  }